<div class="bg-white text-gray-900 font-sans min-h-screen flex flex-col items-center justify-center p-4">
  <app-navbar></app-navbar>

  <h1 id="totalAmount" class="text-4xl font-bold mb-10">$0</h1>


  <div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-md space-y-6">
    <div class="flex justify-between items-center">
      <div>
        <p class="text-gray-500">Income</p>
        <p class="font-bold">$x/mo</p>
      </div>
      <button id="addIncomeBtn" class="text-xl font-bold">+</button>
    </div>

    <div class="flex justify-between items-center">
      <div>
        <p class="text-gray-500">Savings</p>
        <p class="font-bold">$x/mo</p>
      </div>
      <button class="text-xl font-bold">+</button>
    </div>

    <div class="flex justify-between items-center">
      <div>
        <p class="text-gray-500">Expense</p>
        <p class="font-bold">$x/mo</p>
      </div>
      <button id="expenseBtn"
      class="mt-4 w-full bg-orange-400 text-white py-2 rounded hover:bg-orange-600 ransition"
      (click)="getExpenses()" class="text-xl font-bold">+</button>

    </div>
  </div>

</div>
