<app-navbar></app-navbar>
<app-editprofile-bg>
    <div class="bg-white p-10 rounded-xl shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Update Profile</h2>
        <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()" id="editProfileForm" class="space-y-4">
          <div>
            <label class="block mb-1 text-sm font-medium">Username</label>
            <input
              id="usernameEdit"
              formControlName="username"
              type="text"
              class="w-full p-2 border border-gray-300 rounded"
              required
            />
          </div>

          <div>
            <label class="block mb-1 text-sm font-medium">Email</label>
            <input
              formControlName="email"
              id="emailEdit"
              type="email"
              class="w-full p-2 border border-gray-300 rounded"
            />
          </div>

          <div>
            <label class="block mb-1 text-sm font-medium"
              >New Password (optional)</label
            >
            <input
              id="passwordEdit"
              formControlName="password"
              type="password"
              class="w-full p-2 border border-gray-300 rounded"
            />
          </div>

          <button
            id="submitEdit"
            type="submit"
            class="w-full bg-gray-400 text-white py-2 rounded hover:bg-gray-600 transition"
          >
            Save Changes
          </button>
        </form>

        <button
          id="deleteBtn"
          class="mt-4 w-full bg-orange-400 text-white py-2 rounded hover:bg-orange-600 ransition"
          (click)="deleteAccount()"
        >
          Delete Account
        </button>
      </div>
</app-editprofile-bg>
